body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header {
  position: fixed;/*This will keep header section or navigation links on fixed position */
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333; /* Header background color */
  color: #fff; /* Header text color */
  padding: 10px 0;
  text-align: center;
}
.mainheader{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav {
  display: inline-block;
}

nav a {
  text-decoration: none;
  color: #fff;
  margin: 0 20px;
}

main {
  margin-top: 100px; /* To push content below the fixed header */
  padding: 20px;
}

footer {
  
  background-color: #333; /* Footer background color */
  color: #fff; /* Footer text color */
  text-align: center;
  padding: 10px 0; 
 }
